body{
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: #333;
    text-align: center;
    margin-top: 0px;
    padding-top: 50px;
}
.button{
    border: none;
    padding: 15px 20px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
}